
<html>
<head>
  <title>A Leaflet map!</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css">
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  <script src="https://nlmaps.nl/dist/nlmaps.iife.js"></script>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "/base/css/base.css" %}"/>


</head>
<body>

<div id="leftCol">
  <p>a</p><p>a</p><p>a</p><p>a</p>  <p>a</p><p>a</p><p>a</p><p>a</p>  <p>a</p><p>a</p><p>a</p><p>a</p>  <p>a</p><p>a</p><p>a</p><p>a</p>  <p>a</p><p>a</p><p>a</p><p>LAST ONE</p> 

</div>

<div id="content">
  <div id="nlmaps-holder"></div>
</div>



<script src="{% static "/base/js/basemap.js" %}"></script>


</body>
</html>



<!--   <div id="map"></div>

  <script>

  // initialize the map
  var map = L.map('map').setView([42.35, -71.08], 13);

  // load a tile layer
  L.tileLayer('http://tiles.mapc.org/basemap/{z}/{x}/{y}.png',
    {
      attribution: 'Tiles by <a href="http://mapc.org">MAPC</a>, Data by <a href="http://mass.gov/mgis">MassGIS</a>',
      maxZoom: 17,
      minZoom: 9
    }).addTo(map);

  </script>
 -->