<!DOCTYPE html>
<html ng-app="demoapp">
  <head>
    {% load static %}
    <link rel="icon" 
      type="image/png" 
      href="{% static "/base/img/ic_launcher.png" %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-leaflet-directive/0.10.0/angular-leaflet-directive.min.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
    <link rel="stylesheet" type="text/css" href="{% static "/base/css/base.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "/base/css/spinner.css" %}"/>

    <script src="{% static "/base/js/mapctrl.js" %}"/></script>
  </head>

  <body ng-controller="GeoJSONController">

    <!-- Verbatim: to make django not render the templates (leave for angular)  -->
    {% verbatim %}


      <!-- Overlay spinning wait -->
      <div ng-class="spinnerstatus">Loading&#8230;</div>
      
      <!-- Overlay info box -->
      <div id="mydiv" class="box" width="200px" height="200px">
        <div id="mydivheader" class="boxheader"> {{fieldinfo.name}}</div>
    
        <table>
          <tr ng-repeat="(key, value) in fieldinfo.info"><td>{{key}}</td> <td>{{value}}</td></tr>
          <!-- <div ng-if="islinkedobject(value)" ><td>{{key}}</td> <td>{{value}}</td></div> -->
        </table>
      </div>

      <!-- Overlay info box -->
      <div id="mydiv2" width="200px" height="200px">
        <div id="mydiv2header"> {{fieldinfo.name}}</div>
    
        <table>
          <tr ng-repeat="(key, value) in fieldinfo.links">
            <td>{{key}}</td> 
            <td> 
              <div ng-repeat="item in value">
                <a display="block" ng-click="clickField(item[1])">{{item[0]}}</a>
              </div>
            </td>
          </tr>
          <!-- <div ng-if="islinkedobject(value)" ><td>{{key}}</td> <td>{{value}}</td></div> -->
        </table>
      </div>



      <!-- Left bar -->
      <div id="leftCol">
        <ul>
          <li><strong ng-bind="field.name"></strong></li>
          <li><label>Search: <input ng-model="searchText"></label></li>
          <li ng-repeat="fld in fields | filter:searchText">
            <a display="block" ng-click="clickField(fld)">{{fld.name}}</a></li>
        </ul>
      </div>

      <!-- map -->
      <div id="content">
        <leaflet id="myMap"
                geojson="geojson" defaults="defaults" 
                tiles="tiles" bounds="bounds" center="center" markers=markers
                width="100%" height="800px" events="events"></leaflet>
      </div>

    {% endverbatim %}

    <!-- Overlay info box -->
    <script src="{% static "/base/js/drag_div.js" %}"/></script>

  </body>
</html>